/* common-styles */
body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.white-text{
    color: white;
}

.crimson-text{
    color: crimson;
}

.text-center{
    text-align: center;
}

.big-text{
    font-size: 70px;
    margin: 0;
}

.small-text{
    font-size: 15px;
    margin: 0;
}

.medium-text{
    font-size: 30px;
    margin: 0;
}

.join-now-btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

input{
    padding: 10px 20px;
    border: none;
    border-radius: 5px 0 0 5px;
}


/* banner-styles */
.banner{
    background-image: url('/resources/Background images/Banner Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px 100px 0 100px;
    padding: 200px;
}

/* discount-section-styles */
.discount-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discount-heading{
    font-size: 80px;
    margin: 0;
}

.discount-section img{
    margin-top: 25px;
}

/* party-section-styles */
.party{
    background-image: url('/resources/Background images/party.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px 100px 50px 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* details-section-styles */
.details{
    background-image: linear-gradient(rgb(207, 150, 161), rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 50px 100px;
    padding: 70px;
    border-radius: 15px;
}

/* new-offer-section-styles */
.new-offer{
    margin: 100px 100px 50px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer-image{
    padding: 0 100px;
}

/* holiday-offer-section-styles */
.holiday-offer{
    margin: 100px 100px 50px 100px;
}

.holiday-image{
    width: 100%;
    margin-top: 50px;
}

/* portfolio-section-styles */
.portfolio{
    margin: 100px 100px 50px 100px;
}

.portfolio-img img{
    width: 380px;
    height: 400px;
    margin: 5px;
}

/* newsletter-section-styles */
.newsletter{
    margin: 100px 100px 50px 100px;
    padding: 50px;
    background-color: crimson;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* footer-styles */
footer{
    background-color: rgb(0, 0, 32);
    margin-top: 100px;
    padding: 50px;
    color: white;
}

.footer-upper{
    display: flex;
    justify-content: space-between;
}

.info-with-icon{
    display: flex;
    align-items: center;
}

.info-with-icon img{
    margin-right: 5px;
}

.footer-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.footer-middle img{
    margin-right: 5px;
}

.footer-lower{
    display: flex;
    justify-content: space-between;
}